@import "tailwindcss";

/* clerk user btn  */
.cl-avatarBox {
  width: 3rem;
  height: 3rem;
}
/* input color  */
input {
  background-color: #fff;
  accent-color: red;
  border: 1px solid #ccc;
  color: #333;
}

@media (max-width: 639px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}